body {
    margin: 0;
    font-family: Arial;
    background: black;
    color: white;
    text-align: center;
    overflow: hidden;
}

.image-gradient {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.5;
    z-index: -1;
}

.layer-blur {
    height: 0;
    width: 30rem;
    position: absolute;
    top: 20%;
    right: 0;
    box-shadow: 0 0 700px 15px white;
    transform: rotate(-30deg);
}

.container {
    margin-top: 60px;
    position: relative;
    z-index: 2;
}

textarea {
    width: 60%;
    height: 120px;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    outline: none;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    background: #22c55e;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}