<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset=""UTF-8>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

</head>
<body>
    <img class="image-gradient" src="gradient.png" alt="gradient">
    <div class="layer-blur"></div>

    <div class="container">
     <header>
        <h1 data-aos="fade-down" data-aos-duration="1500" class="logo">PROJECT Z</h1>

        <nav>
            <a data-aos="fade-down" data-aos-duration="1500" href="quiz.html">QUIZ</a>
            <a data-aos="fade-down" data-aos-duration="2000" href="game.html">TIC TAC TOE</a>
            <a data-aos="fade-down" data-aos-duration="2500" href="http://127.0.0.1:5000/tracker" target="_blank">EXPENCE TRACKER</a>
            <a data-aos="fade-down" data-aos-duration="3000" href="http://127.0.0.1:5000">TYPING SPEED</a>
        </nav>
        
        <div class="header-buttons">
            <!-- FIXED -->
            <a href="#" data-aos="fade-down" data-aos-duration="1500" class="btn-signing">LOGGED IN</a>
            <a href="login.html" data-aos="fade-down" data-aos-duration="1500" class="btn-back">LOG-OUT</a>
        </div>

     </header>

     <main>
        <div class="content">
            <div data-aos="fade-zoom-in"
                data-aos-easing="ease-in-back"
                data-aos-delay="300"
                data-aos-offset="0" data-aos-duration="1500" 
                class="tag-box">
            <div class="tag">WELCOME !</div>
        </div>
    
            <h1 
                data-aos="fade-zoom-in"
                data-aos-easing="ease-in-back"
                data-aos-delay="300"
                data-aos-offset="0" data-aos-duration="2000" 
            >HI<br>HELLO</h1>
    
            <p  data-aos="fade-zoom-in"
                data-aos-easing="ease-in-back"
                data-aos-delay="300"
                data-aos-offset="0" data-aos-duration="2500" 
                class="description">
                This project is based on dynamic-responsive and interactive website developed using 
                HTML, CSS, Python, and Java highlighting both design and functionality.
            </p>
    
            <div  data-aos="fade-zoom-in"
                  data-aos-easing="ease-in-back"
                  data-aos-delay="300"
                  data-aos-offset="0" data-aos-duration="3000" 
                  class="buttons">
                  
                <!-- FIXED BUTTONS ONLY -->
                <a href="certificate.html" class="btn-documentation">Achievments &gt;</a>
                <a href="http://127.0.0.1:5000/contact" class="btn-get-started">Get Started &gt;</a>
            </div>
         </div>
    </main>

    <spline-viewer data-aos="fade-zoom-in"
                   data-aos-easing="ease-in-back"
                   data-aos-delay="300"
                   data-aos-offset="0" data-aos-duration="3000" 
    class="robot-3d" url="https://prod.spline.design/CqrTRHgABXJtnA5f/scene.splinecode"></spline-viewer>

    </div>

    <script type="module" src="https://unpkg.com/@splinetool/viewer@1.12.70/build/spline-viewer.js"></script>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
           AOS.init();
    </script>
</body>
</html>