<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz | Project Z</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='quiz.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>

<body>

<img class="image-gradient" src="{{ url_for('static', filename='gradient.png') }}" alt="gradient">
<div class="layer-blur"></div>

<header>
    <h1 class="logo">PROJECT Z</h1>
    <div class="header-buttons">
        <a href="{{ url_for('home') }}" class="btn-back">BACK</a>
    </div>
</header>

<div class="quiz-container" id="quiz">
    <div class="quiz-header">
        <h2 id="question">Loading question...</h2>

        <ul>
            <li>
                <input type="radio" name="answer" id="a" class="answer">
                <label for="a" id="a_text">Answer A</label>
            </li>

            <li>
                <input type="radio" name="answer" id="b" class="answer">
                <label for="b" id="b_text">Answer B</label>
            </li>

            <li>
                <input type="radio" name="answer" id="c" class="answer">
                <label for="c" id="c_text">Answer C</label>
            </li>

            <li>
                <input type="radio" name="answer" id="d" class="answer">
                <label for="d" id="d_text">Answer D</label>
            </li>
        </ul>
    </div>

    <button id="submit">Submit</button>
</div>

<script src="{{ url_for('static', filename='quiz.js') }}"></script>

</body>
</html>
